@model InventoryReportViewModel
@{
    ViewData["Title"] = "Discontinued";
}
<section class="glass-panel">
    <h1>@Model.Title</h1>
    <partial name="~/Views/Admin/_InventoryTable.cshtml" model="Model" />
    <partial name="_Pagination" model="Model" />
</section>
